<div class="SignupForm">
  <div class="big-box">
    <%= image_tag("https://images.unsplash.com/photo-1600451933932-c300aebac5f0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzc4fHxlbmVyZ3l8ZW58MHwwfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60", {:class => "form-image"}) %>
    <div class="form-box">
        <h2 class="text-center mb-3">Registrar usuario</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|%>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="row">
          <div class="col mb-3">
            <%= f.text_field :name, class: "form-control", placeholder:"Nombre"%>
          </div>

          <div class="col input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <%= f.text_field :username, class: "form-control", placeholder:"Usuario", aria: { label: 'Username', describedby: 'basic-addon1' } %>
          </div>
        </div>

        <div class="row">
          <div class="form-group col mb-3">
            <%= f.label :teléfono %><br/>
            <%= f.telephone_field :phone, class: "form-control", placeholder:"Teléfono" %>
          </div>

          <div class="col mb-3">
            <%= f.label :status, class:"form-label" %><br/>
            <%= f.select :status, ['Ingresado', 'En proceso', 'En espera', 'Solventar', 'Requerimiento', 'Autorizado', 'Rechazado'], include_blank:'Selecciona un status'%>
          </div>
        </div>

        <div class="row">
          <div class="mb-3">
            <%= f.label :correo_electrónico %><br />
            <%= f.email_field :email, class:"form-control", placeholder:"Escribe el correo electrónico del usuario" %>
          </div>
        </div>

        <div class="row">
          <div class="col mb-3">
            <%= f.label :contraseña %>
            <% if @minimum_password_length %>
            <em>(mínimo <%= @minimum_password_length %> caracteres)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Crea una contraseña" %>
          </div>

          <div class="col mb-3">
            <%= f.label :confirma_la_contraseña %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Confirmar" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "Registrar usuario", class:"btn btn-info button text-light text-uppercase"%>
        </div>
      <% end %>
      <%# <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
