<div class="SignupForm">
  <div class="big-box">
    <div class="form-image">
      <h2 class="text-center text-light">Registrar usuario</h2>
      <p class="text-light">Llena los campos con la información del usuario</p>
    </div>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-box">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|%>
        <div class="row">
          <div class="col mb-3">
            <%= f.label :teléfono %><br/>
            <%= f.text_field :name, class: "form-control", placeholder:"Nombre"%>
          </div>

          <div class="col input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <%= f.text_field :username, class: "form-control", placeholder:"Usuario", aria: { label: 'Username', describedby: 'basic-addon1' } %>
          </div>
        </div>

        <div class="row">
          <div class="form-group col mb-3">
            <%= f.label :teléfono %><br/>
            <%= f.telephone_field :phone, class: "form-control", placeholder:"Teléfono" %>
          </div>

          <div class="col mb-3">
            <%= f.label :status %><br/>
            <%= f.select :status, options_for_select(['Ingresado', 'En proceso', 'En espera', 'Solventar', 'Requerimiento', 'Autorizado', 'Rechazado']),{ :prompt => "Selecciona un status"}, { :class => "form-select" } %>
          </div>
        </div>

        <div class="row">
          <div class="mb-3">
            <%= f.label :correo_electrónico %><br />
            <%= f.email_field :email, class:"form-control", placeholder:"Escribe el correo electrónico del usuario" %>
          </div>
        </div>

        <div class="row">
          <div class="col mb-3">
            <%= f.label :contraseña %>
            <% if @minimum_password_length %>
            <em class="password-label">(mínimo <%= @minimum_password_length %> caracteres)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Crea una contraseña" %>
          </div>

          <div class="col mb-3">
            <%= f.label :confirmar_contraseña %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Confirmar" %>
          </div>
        </div>

        <div class="actions mt-2">
          <%= f.submit "Registrar usuario", class:"btn btn-info button text-light text-uppercase"%>
        </div>
      <% end %>
      <%# <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
